header { 
  
  
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
}
header .imagen { 
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 400px; 
  overflow: hidden;
  cursor:pointer;
  margin-top: 0;
}
header .imagen img { 
  width: 100%; 
  height: auto; 
}


.imagen:hover .comments {
    
  transform: translateY(-35px);
  opacity:1;
  background-color: rgba(155, 155, 155, 0.9)
} 



header .imagen .comments {
    position: absolute;
    display: flex;
    flex-flow: row;
    padding: 10px;
    height: 35px;
    justify-content: space-between;
    align-items: center; 
    transform: translateY(0);
    
  transition: all .3s ease-in-out;
  opacity:0;
  overflow: hidden;
  color:black;
}

.likes {
    font-size: 20px;
}

@media screen and (max-width: 400px) {
  header div { margin: 0; }
  header { padding: 0; }
  
}

