@import url('https://fonts.googleapis.com/css?family=Raleway');




body { 
  margin-top: 0; 
  font-family: 'Raleway', sans-serif;
}
header { 
  
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
  overflow: hidden;
}
header div { 
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 400px; 
  
}
header div img { 
  width: 100%; 
  height: auto; 
}

@media screen and (max-width: 400px) {
  header div { margin: 0; }
  header { padding: 0; }
  
}