#jumbo1 {
   background-image:url('../img-00a.jpg');
   color:white;
}

#jumbo2 {
   background-image:url('../21950039_10212780525499766_7728153444294096198_o.jpg');
   color:white;
}

#jumbo3 {
   background-image:url('../night-in-the-city-lightbox.jpg');
   color:white;
}

#jumbo4 {
   background-image:url('../people.jpg');
   color:white;
}

p {
    color: white
}