@import url('https://fonts.googleapis.com/css?family=Raleway');
* {
    box-sizing: border-box;
}

.row {
    padding: 15px;
}

.card, .list-group-item {
    background: transparent;
}

.badge {
    margin: 0 5px 0 0;
}

.card-footer {
    font-size: 12px;
}

.follow {
    margin-right: 10px;
    
}

.heart {
color: tomato;
}

.list-group-item {
    border-bottom-color: bisque;
}



