.resume{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.colum1{
    text-align: center;
    margin-left: 20px;
    margin-top: 20px;
}

.colum1 img{
    max-height: 450px;
}

.colum2 {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    margin-top: 15px;
    color: white;
}