@import url('https://fonts.googleapis.com/css?family=Raleway');

*{
    font-family: 'Raleway', sans-serif;
}

.nav-link {
    
}

.jumbotron {
    
    color: white;
    height: 300px;
    background-image:url('../../categories/21950039_10212780525499766_7728153444294096198_o.jpg'); 
    margin-top: 10px;
    margin-bottom: 0px;
}

